.vscode
aula01/exemplo1.exe
aula01/exemplo2.exe
aula01/exemplo3.exe
aula01/exemplo4.exe
aula01/exemplo5.exe
aula01/exemplo6.exe
aula01/exemplo7.exe
aula01/exemplo8.exe
aula01/exemplo9.exe
aula02/conteudo/exemplo1.exe
aula02/conteudo/exemplo2.exe
aula02/conteudo/exemplo3.exe
aula02/conteudo/exemplo4.exe
aula02/conteudo/exemplo5.exe
aula02/conteudo/exemplo6.exe
aula02/conteudo/exemplo7.exe
aula02/conteudo/exemplo8.exe
aula02/conteudo/exemplo9.exe
aula02/conteudo/exemplo10.exe
aula02/conteudo/exemplo11.exe
aula02/conteudo/exemplo12.exe
aula02/atividade/exe1.exe
aula02/atividade/exe2.exe
aula02/atividade/exe3.exe
aula02/atividade/exe4.exe
aula03/conteudo/exemplo1.exe
aula03/conteudo/exemplo2.exe
aula03/conteudo/exemplo3.exe
aula03/conteudo/exemplo4.exe
aula03/conteudo/exemplo5.exe
aula03/conteudo/exemplo6.exe
aula03/conteudo/exemplo7.exe
aula03/atividades/ex1.exe
